body { 
    font-size:12pt;
    background-color: rgba(240, 240, 223, 0.884);
    main {
        .head-section {
            text-align:left;
            h1 { 
            font-size:6rem;
            color:rgb(206, 52, 206); 
            } 
        }
        .top-smiley {
            .static-smiley {
               text-align:center;
                img {
                    width:20%;
                    position: absolute; 
                }
                .right{
                    transform: rotate(45deg);
                }
                .down{
                    transform: rotate(90deg);
                }
                .left{
                    transform: rotate(180deg); 
                }
                .up{
                    transform: rotate(300deg); 
                }
            }
        }
        .top-images {
            text-align:center;
            img {
                height:80%;
            }
        }
            .test { 
                border-left:10px solid black;
                padding:1rem;
                position: absolute; 
                height:30%; 
                left:50px; 
            } 
            .more { 
                border-left:10px solid black;
                padding:1rem;
                position: absolute; 
                height:50%; 
                left:500px;  
            } 
        
    }
} 
