body { 
    font-size:12pt;
    background-color: rgba(240, 240, 223, 0.884);
    height:2000px;
    main {
        .head-section {
            text-align:left;
            h1, h2 { 
            font-family: 'Fascinate', cursive;
            // font-family: 'Bungee Outline', cursive;
            font-size:6rem;
            color:rgb(206, 52, 206); 
            } 
        }
        .top-smiley {
            .static-smiley {
               text-align:center;
               position: fixed;
               top: 10%;
               left: 50%;
                img {
                    width:80%;
                }
            }
        }
        .top-images {
            text-align:center;
            border-left:10px solid black;
            padding:1rem;
            margin-left:50px; 
            img {
                width:90%;
            }
        }
        
    }
} 


