body {
  font-size: 12pt;
  background-color: rgba(240, 240, 223, 0.884);
  height: auto; }
  body main .head-section {
    text-align: left; }
    body main .head-section h1, body main .head-section h2 {
      font-family: 'Fascinate', cursive;
      font-size: 6rem;
      color: #ce34ce; }
  body main .top-smiley .static-smiley {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%; }
    body main .top-smiley .static-smiley img {
      width: 80%; }
  body main .top-images {
    text-align: center;
    border-left: 10px solid black;
    padding: 1rem;
    margin-left: 50px; }
    body main .top-images img {
      width: 90%; }
